    <div id="page_content_inner" ng-controller="corporates">
        <div class="md-card">
            <div class="md-card-content">
            <form class="corporate-search" data-ng-submit="search()">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-3-10">
                        <label>Name</label>
                        <input type="text" class="md-input" name="search_name" ng-model="search_name">
                    </div>
                    <div class="uk-width-medium-3-10">
                        <label>Location</label>
                        <input type="text" class="md-input" value="" name="search_location" ng-model="search_location">
                    </div>
                    <div class="uk-width-medium-2-10">
                        <label>Tags</label>
                        <input type="text" class="md-input" value="" name="search_tags" ng-model="search_tags">
                    </div>
                    <div class="uk-width-medium-2-10 uk-text-center">
                        <button class="uk-margin-small-top md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Search</button>
                    </div>
                </div>
            </form>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <div class="uk-overflow-container">
                            <table class="uk-table user-uk-table uk-table-align-vertical corporate-search-table" data-type="corporate-search-table" limit="3">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="corporate in rows">
                                        <td>
                                            <a href="corporate/((corporate.corporate_id))"><img class="img_thumb" src="((corporate.images[0]))" alt=""/></a>
                                        </td>
                                        <td>
                                            <a href="corporate/((corporate.corporate_id))">
                                                <p class="uk-text-bold">
                                                    <span class="uk-text-bold">((corporate.company_name))</span>
                                                </p>
                                                <p class="corporate-address">((corporate.address))</p>
                                            </a>
                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <div class="uk-margin-top" ng-include="((table_pagination_path))"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

