<div id="page_content_inner" ng-controller="prize_details">
    <div class="uk-grid prize-card-container">
        <div class="uk-width-medium-1-10"></div>
        <div class="uk-width-medium-8-10 prize-card relative">
            <button class="prize-print-button md-btn md-btn-flat-success"><i class="material-icons  ">print</i></button>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid">
                        <div class="uk-width-medium-3-10">
                            <img src="((ombazar_logo))" class="prize-company-logo">
                            <img src="((prize_image))" class="prize-image">
                        </div>
                        <div class="uk-width-medium-7-10">
                            <h1>Coupon prize</h1>
                            <p class="prize-to"><span>To:</span> <span>((prize_details.mobile_number)) </span></p>
                            <p class="prize-from"><span>From:</span> <span>Ombazar.com</span></p>
                            <p class="prize-about">
                                Congratulation you have lucky for <span class="uk-text-bold">( ((prize_details.prize_name)) ).</span>
                            </p>
                            <!--<p class="receive-address">
                                facere illum in incidunt ipsa iusto, labore laborum, libero magnam magni provident quaerat quibusdam vitae voluptatibus!
                            </p>-->
                            <div class="prize-bar-code">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="uk-width-medium-1-10"></div>
    </div>
</div>

