    <div id="page_content_inner" ng-controller="tree">
        <div class="md-card">
            <div class="md-card-content">
                <div class="overflow tree-area">
                    <!--<button data-uk-tooltip="{pos:'top'}" title="Reload page" href="" ng-click="route_reload()"><i class="material-icons md-24 md-light">refresh</i></button>-->
                    <button data-ng-click="control_free_tree()" data-uk-tooltip="{pos:'left'}" title="Free tree" class="free-tree-button md-btn md-btn-default md-btn-mini md-btn-wave-light waves-effect waves-button waves-light"><i class="material-icons">tab</i></button>
                    <div class="uk-width-medium-10-10 uk-float-left">
                        <h3 class="uk-text-center">Team</h3>
                        <ul class="tree network">
                            <li id="((stalk.user_id))" ng-repeat="stalk in tree" class='((stalk.child | if : "child"))'>
                                <div class="tree-user">
                                    <a class="" href="tree/((stalk.user_id))" data-uk-tooltip="{pos:'right'}" title="((stalk | user_tooltip))">
                                        <img src="((stalk.user_info.image))">
                                        <span>((stalk.user_info.name))</span>
                                    </a>
                                </div>
                                <!-- directive: stalks -->
                            </li>
                        </ul>

                    </div>

                    <div class="uk-width-medium-1-2 uk-float-left hidden">
                        <h3 class="uk-text-center">Members</h3>
                        <ul class="free-tree tree">
                            <li id="((stalk.user_id))" ng-repeat="stalk in free_tree">
                                <div class="tree-user">
                                    <a data-uk-tooltip="{pos:'right'}" title="((stalk | user_tooltip))">
                                        <img src="((stalk.user_info.image))">
                                        <span>((stalk.user_info.name))</span>
                                    </a>
                                </div>
                                <!-- directive: stalks -->
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>