
.light-autocomplete-list {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    border: none;
    border-radius: 2px;
}
.light-autocomplete-list {
    position: absolute;
    width: 100%;
    z-index: 12;
}
.light-autocomplete-list ul {
    background-color: white;
}
.light-autocomplete-list li .light-autocomplete-element {
    height: auto;
    padding: 6px;
    border-bottom: 0px;
    background: white;
    border-bottom: 1px solid #9dc8c4;
    color: #497772;
}
.light-autocomplete-list li .light-autocomplete-element.selected {
    border: 0px;
    border-bottom: 1px solid #6abfb7;
    background: #e1e6e5;
}
.hide{
    display: none;
}
.visible{
    display: block;
}
.hidden{
    display: none
}
.visibility-on{
    visibility: visible;
}
.visibility-off{
    visibility: hidden;
}

.prescription-service-thumb {
    width: 28px;
    border-radius: 100%;
    margin-top: 40px;
}
.prescription-preview-thumb {
    width: 28px;
    border-radius: 100%;
}

.cart-arrow{
    float:right;
}

/*@media only screen and (max-width: 768px) {*/
    /*.cart-item-overlay-info .md-fab {*/
        /*display: inline-block;*/
        /*height: 40px;*/
        /*width: 40px;*/
    /*}*/
    /*.cart-item-overlay-info .md-fab i {*/
        /*line-height: 40px;*/
        /*font-size: 30px;*/
    /*}*/
/*}*/

.selectize-dropdown.single{
    z-index: 99999
}

.icon-relative .uk-button-dropdown {
  position: absolute;
  margin-top: -16px;
}

.uk-text-center.icon-relative {
}
/*
.my_hide{
    display: none;
}
*/
.report-content thead th{
    background-color: #d4e1e0 !important;
}
.report-content h3 {
    background: #ece6e6 !important;
    padding: 6px;
    display: inline-block;
    padding-right: 45px;
    border-left: 3px solid;
    margin-bottom: 0;
}
.report-content tfoot th {
    background: #16f4fc !important;
    color: #48484b;
    font-weight: bold;
}
.clac-rule {
    color: white;
    padding: 3px;
    border-top: 4px solid #1e26ba;
    background: #dd7979 !important;
}
@media print {
  a[href]:after {
    content: none !important;
  }
    .report-content thead th {
        background-color: #d4e1e0 !important;
    }

}
.user_avatar {
    text-align: center;
}
.logo_regular {
    height: 58px;
}

    .md-user-image {
        width: 34px !important;
        max-width: 34px !important;
        height: 34px !important;
        max-height: 34px !important;
        border-radius: 50%;
    }
.login_page .user_avatar {
    background-image: url(../img/avatars/user.png);

}
.form_switcher {
    float: left;
    width: 153px;
}
.form_switcher .selectize-input {
    background: none !important;
    border: 0px;
}
.form_switcher .selectize-dropdown {
    width: 160px !important;
    margin-left: -8px;
}

.product_item.sub {
    padding-left: 20px;
}

#sidebar_main .sidebar_main_header .sidebar_actions .selectize-input {
    width: 220px;
    border: none;
    padding: 6px 0;
    background: 0 0;
}

#sidebar_main .sidebar_main_header .sidebar_actions .selectize-dropdown {
    width: 220px !important;
    margin-left: -8px;
}
.zero-report-header h2,.zero-report-header p{
    text-align:center !important;
}
.zero-report-header p span{
    display: block !important;
}
@media print{
    .hidden-print{
        display: none !important;
    }
}
.prescription_header img {
    width: 657px;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
}
.prescription_header {
    height: 150px;
    padding: 0;
    box-sizing: border-box;
    margin: -16px -16px 24px;
}

#prescription .dropify-preview img {
    max-width: 100%;
    width: 657px;
}
.button-transparent{
    background: transparent;
    border: 0px;
    cursor: pointer;
}
#page_print_custom {
    margin-top: 6px;
    margin-right: 9px;
}
.sidebar_logo img {
    width: 200px;
    height: 80px;
}

#sidebar_main .sidebar_main_header .sidebar_logo {
    height: 82px;
    line-height: 82px;
}
#sidebar_main .sidebar_main_header {
    height: 130px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin-bottom: 20px;
    background-image: url(../img/sidebar_head_bg.png);
    background-repeat: no-repeat;
    background-position: -20px -124px;
}
.material-icons.imageuploadify-upload-button:hover {
    color: #6772e3;
    cursor: pointer;
}

.material-icons.imageuploadify-close-button {
  top: -1 !important;
  margin: 0px !important;
  font-size: 15px !important;
  background: #eafffd;
  color: red !important;
  cursor: pointer;
  padding: 0px !important;
}
.material-icons.imageuploadify-close-button:hover {
  background: #ecd5ed;
}
body {
    min-height: 100%;
    font: 400 14px/1.42857143 Roboto,sans-serif;
    padding:0px;
    padding-top: 48px;
    box-sizing: border-box;
}
.pos-selected-items-part{
    position: relative;
}
.pos-content img {
	height: 25px;
	width: 25px;
	border-radius: 100px;
	cursor: pointer;
	vertical-align: top;
}

.pos-text-ellips {
	white-space: nowrap;
	width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
.pos-content .uk-overflow-container {
	height: 240px;
}

/*Quantity changer css*/

.quantity-manager input {
	width: 40px;
	border: 0;
	font-size: 14px;
	color: #444;
}
.inline{
    display: inline;
}



/*.country-code-selector {*/
    /*width: 25%;*/
    /*float: left;*/
    /*margin-top: 3px !important;*/
/*}*/
/*.country-code-selector .selectize-input {*/
    /*background: #f6ebeb;*/
/*}*/
/*.country-code-selector + .md-input-wrapper  {*/
    /*width: 75% !important;*/
    /*display: inline-block !important;*/
/*}*/

.uk-disabled{
    cursor: nesw-resize !important;
    pointer-events: none;
}

.uk-text-nowrap.cart-line-total-field {
    position: relative;
}
.cart-delete-button {
    position: absolute;
    right: 0;
}
.active-pos-item {
    background: #dad7d5;
}
.pos-item .md-card:hover {
    box-shadow: none;
    cursor: pointer;
}
.cart-message h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

.add-pos-user.md-fab,.search-pos-item.md-fab {
    height: 40px;
    width: 40px;
}
.add-pos-user.md-fab i,.search-pos-item.md-fab i {
    font-size: 24px;
    line-height: 40px;
}
.search-pos-item.md-fab {
    box-shadow: none;
}
.add-pos-user .uk-dropdown {
    padding: 0px;
}

.add-pos-user img {
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.view-order-item img {
    width: 100px;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}

.bar-code-image-layout {
    margin-top: 58px;
}
.bar-code-image-layout p,.bar-code-img-preview p {
    padding: ;
    margin: 0px;
    text-align: center;
}

.bar-code-info {
    width: 100%;
    margin: 9px 0px;
}.bar-code-info {
     width: 90%;
     margin: 9px 0px;
 }
.print-button-area {
    text-align: right;
    width: 86%;
}
.print-button-area button {
    position: absolute;
    right: 80px;
}

.uk-tab.pos-input-tabs {
    border: 0px;
    position: absolute;
    width: 100%;
    top: -3px;
}
.uk-tab.pos-input-tabs li:nth-of-type(1) {
    position: absolute;
    left: -28px;
}
.uk-tab.pos-input-tabs li:nth-of-type(2) {
    position: absolute;
    right: 4px;
}
#pos_input label {
    margin-top: 4px;
}
.uk-tab.pos-input-tabs li i {
    font-size: 33px;
    cursor: pointer;
}
.relative{
    position: relative;
}
#pos_input {
    margin-top: -7px;
}
.order-stores li {
    list-style: decimal;
}
.coupon-slider .md-card-content.truncate-text {
    height: 53px;
    padding: 0px;
}
.coupon-slider .uk-clearfix.md-card-overlay-header {
    padding-bottom: 25px;
}
.coupon-slider .md-card-overlay-active .uk-clearfix.md-card-overlay-header {
    padding-bottom: 10px;
}
.coupon-input-field .md-input-focus label,.coupon-input-field .md-input-filled label{
    top:1px;
}

.coupon-bar {
    position: relative;
    height: 47px;
}
.coupon-toolbar {
    position: absolute;
    right: 11px;
    top: 8px;
}
.coupon-bar.crach-bar label {
    line-height: 46px;
    padding: 4px;
    cursor: pointer;
}
.coupon-button{
    width:100%;
}
.coupon-slider .md-card {
    height: 47px;
    /*overflow: hidden;*/
}
.md-icon.material-icons.coupon-submit {
    /*padding-left: 5px;*/
}
.coupon-toolbar ul li {
	opacity: 1;
}
.my-coupons {
	margin-top: -6px;
}
.coupon-message .coupon-input-field {
    padding: 10px;
}
/*.single-coupon .processing-bar {*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*!*background: yellow;*!*/
    /*z-index: -1;*/
/*}*/
/*.md-card.single-coupon.relative {*/
    /*z-index: 1;*/
    /*background: none !important;*/
/*}*/
.coupon-slider .uk-slidenav.uk-slidenav-next {
    right: 0;
    height: 337px;
    top: 30px;
    line-height: 252px;
    background: #d4e5e6;
    width: 39px;
    opacity: 0.7;
}
.coupon-slider .uk-slidenav.uk-slidenav-previous {
	left: 0;
	height: 337px;
	top: 30px;
	line-height: 246px;
	background: #d4e5e6;
	width: 39px;
	opacity: 0.7;
}
@media only screen and (max-width: 425px) {
    .coupon-slider .uk-slidenav.uk-slidenav-previous {
        left: -25px;
        width: 25px;
    }
    .coupon-slider .uk-slidenav.uk-slidenav-next {
        right: -25px;
        width: 25px;
    }
}
.md-icon.material-icons.prize-details,.coupon-re-open {
    position: absolute;
    right: 11px;
    top: 8px;
}

.used-text {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-weight: bold;
    color: #694b6b;
}
.prize-to span:first-child, .prize-from span:first-child {
    font-weight: bold;
}
.prize-print-button {
    position: absolute;
    right: 13px;
    top: 10px;
    z-index: 1;
}

.corporate-slide .uk-slider img {
    height: 250px;
}

.md-card-content.note-content {
    height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.md-card-fullscreen .md-card-content.note-content {
    height: auto;
    overflow: visible;
}
.corporate-search-table tr td:nth-of-type(1) {
    width: 20%;
}

.coupon-image {
    position: relative;
    height: 94px;
    width: 280px;
}
.coupon-image span {
    position: absolute;
    right: 75px;
    top: 44px;
    color: white !important;
}
.coupon-image img {
    height: 100%;
    width: 100%;
}

/*//before print and after print*/

.print-area {
    display: none;
}
@media print{
    body *{
        display: none;
    }
    .print-area,.print-area *{
        visibility: visible;
    }
    .hidden-print{
        display: none !important;
    }
    .print-area {
        display: block;
        position: absolute !important;
        left: 0 !important;
        top: 0!important;
        width:100%;
        width:100%;;
    }
    td {
        border: 0px !important;
    }
    body,html {
        height: auto !important;
        overflow: visible !important;
        margin:0px !important;
        padding:0px !important;
    }
    body {
        min-height: auto !important;
        padding: 0px !important;
    }
    html, body { height: auto !important; }

}

.coupon-image .copy-button {
    color: #4b1f1f !important;
    position: absolute;
    right: 4px;
    z-index: 111111;
    font-size: 17px;
    top: 4px;
    cursor: pointer;
    display: none;
}
.coupon-image:hover .copy-button{
    display: inline-block;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
/*/mini bag//*/
section.stickyHeaderBag span.bag i {
    font-size: 30px !important;
    color: #b5cc16;
}
section.stickyHeaderBag {
    opacity: .7;
    cursor: pointer;
    position: fixed;
    width: 65px;
    height: 75px;
    background: #B2E7E1;
    right: 0;
    top: calc(110px + 30%);
    box-shadow: 0 0 16px -1px rgba(0,0,0,.75);
    /* display: none; */
    transition: .1s ease;
    z-index: 50;
    color: #7a0b0b;
}

section.stickyHeaderBag div.total {
    height: 20px;
    width: 100%;
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}
section.stickyHeaderBag div.total div.odometer {
    padding-left: 5px;
    display: inline-block;
}
section.stickyHeaderBag div.itemCount {
    height: 50px;
    background: #045604;
    width: 100%;
}
section.stickyHeaderBag div.itemCount p {
    color: #fff;
    margin-top: -2px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    padding-top: 0;
}
section.stickyHeaderBag span.bag {
    display: block;
    font-size: 16px
}
section.stickyHeaderBag {
    -vendor-animation-duration: 1s;
    /*
      -vendor-animation-delay: 2s;
      -vendor-animation-iteration-count: infinite;
    */
}
section.stickyHeaderBag:hover {
    opacity: 1;
}
.cart {
    position: fixed;
    right: 0;
    z-index: 9999;
    width: 330px;
    transition: right 0.3s;
}
.total-item-heading {
    font-size: 20px;
    line-height: 30px;
    color: #475341;
}

.cart-close-tools {
    background: lightsalmon;
}
.total-item-heading {
    padding-left: 5px;
}
.total-item-heading i {
    font-size: 22px;
}
.cart-close-tools button {
    font-size: 0px !important;
}
.cart-close-tools .md-fab i {
    font-size: 20px;
    line-height: 30px;
}
.cart-close-tools .md-fab {
    height: 30px;
    width: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.cart-hidden {
    right: -400px;
}
.uk-padding-bottom{
    padding-bottom:15px;
}
.cart .pos-content .uk-overflow-container {
	min-height: 270px;
}

.cart-item-overlay-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    color: white;
    display: none;
}
.products-item .md-card:hover .cart-item-overlay-info{
    display: block;
}
.products-item {
    position: relative;
}
.cart-item-overlay-info .md-fab {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.cart-item-overlay-info .md-fab i {
    line-height: 50px;
}
.cart-item-overlay-info .item-quantity {
    font-size: 38px;
    line-height: 50px;
    vertical-align: middle;
    padding: 10px;
    padding-top: 20px;
}
.cart-item-overlay-info .item-total-amount {
    height: 24%;
}
.activated-item {
    height: 100%;
}
.item-total-amount {
}
.cart-item-overlay-info::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0.3;
}

.activated-item, .deactivated-item {
    height: 82%;
}
.details i {
    font-size: 25px !important;
}

.deactivated-item p {
    height: 130px;
    background: white;
    color: black;
    border-radius: 100%;
    display: inline-block;
    width: 130px;
    line-height: 130px;
    margin-top: 50px;
    border: 2px solid transparent;
    cursor: pointer;
}
.deactivated-item {
    box-sizing: border-box;
}
.deactivated-item p:active {
    border: 2px solid gray;
}

.cart-item td:nth-of-type(2) {
    width: 74px;
}
.order-button{
    color: black !important;
}
.icon-relative {
    position: relative;
}


/*User tree*/
.tree li img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

ul.tree li span.add_action, ul.tree li span.edit_action, ul.tree li span.highlight, ul.tree li span.delete_action {
    padding: 7px !important;
}
ul.tree .ui-droppable.ui-draggable.ui-draggable-handle.current {
    background: transparent !important;
    padding: 0px !important;
}
ul.tree li > div {
    background: transparent !important;
    padding: 0px !important;
}
ul.tree li div.parent {
    background: transparent !important;
    padding: 0px !important;
}

.requestfullscreen {
    font-size: 18px;
    cursor: pointer;
}
.requestfullscreen:hover i {
    color: #c25c5c;
}

img.back_btn {
    position: absolute !important;
    left: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 3;
}
ul.tree {
    padding-left: 0px;
    margin: 0px !important;
}
.cart-line-total-field {
    position: relative;
}
.pos-print img{
    width: 100px;
}

.pos-border-heading:after {
    content: "";
    width: 100%;
    position: absolute;
    border-top: 1px dashed;
    left: 0;
    top: 46%;
}
.pos-border-heading {
    position: relative;
}
.pos-border-heading span {
    background: white;
    position: relative;
    z-index: 1;
}
.footer #page_content_inner {
	padding-top: 0px;
	padding-bottom: 0px;
}
.brand-slider li img {
/*	width: 100px;*/
	max-height: 100px;
}
.brand-slider li a {
	display: block;
}

.brand-icon {
	width: 40px;
	height: 40px;
	display: block;
	background: green;
	text-align: center;
	cursor: pointer;
	border-radius: 100%;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 111;
}
.brand-icon i {
  color: white;
  line-height: 40px;
}
.fixed-brand {
	height: 163px !important;
	bottom: 0px !important;
	top: inherit !important;
}
.fixed-brand .uk-slidenav-position:hover .uk-slidenav{
    color:rgba(50,50,50,.9) !important;
}
.fixed-brand .uk-slidenav:active {
 color:rgba(50,50,50,.9)
}

.fixed-brand .uk-slidenav-position .uk-slidenav {
	display: inline-block !important;
    font-size: 20px;
}

.tree-overflow .uk-width-medium-10-10{
    width: 50%;
}
.tree-overflow .uk-width-medium-1-2{
    display: block;
}
.tree-area button {
	position: absolute;
	right: 2px;
	top: 2px;
}

.uk-modal-dialog .uk-info-modal-close {
	top: 8px;
	right: 8px;
	position: absolute;
	float: none;
	margin: 0;
}
.uk-modal-dialog .uk-info-modal-close + h3{
    margin-top: 0px;
}

.not-available h3 {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 10px;
}
.not-available h3 i {
  font-size: 30px;
}

.uk-tooltip {
	z-index: 9999999 !important;
}

.tree-user a {
  display: block;
  text-align: center;
  padding: 10px;
  background: lavenderblush;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tree-user a span {
  display: block !important;
}

ul.tree li span.exchange_action {
	position: absolute;
	width: 10px;
	height: 10px;
	cursor: pointer;
	/* display: none; */
	/* padding: 2px; */
	background-color: #e02222;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	right: 0;
	top: 35px;
}
.uk-sticky-placeholder .uk-active {
	z-index: 3;
}
.tree [data-position='Left']{
    background: #00e676;
}
.tree [data-position='Right']{
    background:#1de9b6;
}
.tree li .tree-user .exchange_action{
    display: none ;
}
.tree > li > .tree-user .edit_action{
    display: none !important;
}
.tree > li > .tree-user .exchange_action{
    display: inline-block;
}
.network .tree-user .edit_action{
    display: none !important;
}
.edit_data .close {
	width: 13px;
	height: 13px;
	margin-bottom: 6px;
}
ul.tree li form img.close {
	background-color: #f5eaea;
}
ul.tree li form {
	top: 48px;
}
.uk-tooltip {
	max-width: 425px;
}
ul.tree > li[class="child"] > .tree-user .exchange_action {
	display: none;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-pointer:hover {
	background: #f4ecee;
}
.padding-left-20{
    padding-left: 20px;
}
.brand h2 {
	margin-left: 23px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.coupon-slider .uk-slider {
	min-height: 350px !important;
}

.web-login-card {
  padding: 0px 50px;
}
.web-login-content {
  padding: ;
  box-sizing: border-box;
}
.password-show-button {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
.password-relative {
	position: relative;
}
.password-relative:hover .password-show-button{
	display: inherit;
}


.message-box.active{
	right: 0;
	top: 52px;
}
.message-box {
	position: fixed;
	right: -350px;
	top: 70px;
	width: 350px;
	transition: right 0.3s;
	z-index: 99999;
}
.message-box .md-card-content{
	overflow: auto;
}
/*#page_content{*/
	/*position: relative;*/
	/*left: 0px;*/
	/*transition: left 0.3s;*/
/*}*/
.material-icons.message-box-close {
	position: absolute;
	right: 20px;
	top: 9px;
}
#page_content::after {
	content: "";
	height: 100%;
	width: 0%;
	position: absolute;
	background: black;
	top: 0;
	left: 0;
	opacity: 0.4;
	transition: width 0.3s;
	z-index: 99999;
}
#page_content.overlay::after {
	width: 100%;
}
#page_content.overlay {
	position: relative;
}

.password-show-button {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
.password-relative {
	position: relative;
}
.password-relative:hover .password-show-button{
	display: inherit;
}
.cart {
	top: 49px;
}