{% load staticfiles %}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="{% static 'OmbazarBackEnd/assets/img/favicon-16x16.png'%}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'OmbazarBackEnd/assets/img/favicon-32x32.png'%}" sizes="32x32">
    <title>Global face</title>
    <base href="/control/">
    <style>
        @media (max-width: 767px) {
            .uk-visible-medium {
                display: none !important;
            }
            .uk-visible-large {
                display: none !important;
            }
            .uk-hidden-small {
                display: none !important;
            }
        }
        .message-box.active{
            right: 0;
            top: 52px;
        }
        .message-box {
            position: fixed;
            right: -350px;
            top: 70px;
            width: 350px;
            transition: right 0.3s;
            z-index: 99999;
        }
        .message-box .md-card-content{
            overflow: auto;
        }
        .material-icons.message-box-close {
            position: absolute;
            right: 20px;
            top: 9px;
        }

        @media only screen and (max-width: 767px) {
            .left-margin-remove-small {
                margin-left: 0px !important;
            }
            .uk-hidden-small {
                display: none !important;
            }
        }

        .uk-float-left {
            float: left;
        }
        .initial-loading span {
            font-size: 18px;
            margin-top: 15px;
            display: inline-block;
        }
        .initial-loading h1 {
            margin: 0px;
        }
    </style>
    <!-- uikit -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/bower_components/uikit/css/uikit.almost-flat.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/skins/jquery.fancytree/ui.fancytree.min.css' %}" media="all">
    <!-- dropify -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/skins/dropify/css/dropify.css' %}">
    <!-- altair admin -->
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/main.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/error_page.min.css' %}" media="all">

    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/login_page.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/js/plugins/Drag-And-Drop-File-Uploader-With-Preview-Imageuploadify/dist/imageuploadify.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'OmbazarBackEnd/assets/css/custom.css' %}" media="all">

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <link rel="stylesheet" href="assets/css/ie.css" media="all">
    <![endif]-->
</head>
<body class=" disable_transitions sidebar_main_open sidebar_main_swipe page_heading_active ((document_switch | if : 'header_double_height'))  ((logged | if : '' : '' : 'login_page login_page_v2')) " data-ng-app="ombazar" data-ng-controller="basic">

    <!-- main header -->
    <header id="header_main" class="uk-hidden-small">
        <div class="header_main_content">
            <nav class="uk-navbar" ng-if="nav_switch"  ng-include="'/base/OmbazarBackEnd/templates/OmbazarBackEnd/body-parts/nav.html'" onload="nav_init()">
                <!-- nav bar -->
            </nav>
        </div>
        <div class="header_main_search_form" ng-if="search_switch" ng-include="'/base/OmbazarBackEnd/templates/OmbazarBackEnd/body-parts/search-bar.html'" onload="search_bar_init()">

        </div>
    </header><!-- main header end -->
    <!-- main sidebar -->
    <aside id="sidebar_main" class="uk-hidden-small">
        <div class="sidebar_main_header" ng-if="main_header_switch" ng-include="'/base/OmbazarBackEnd/templates/OmbazarBackEnd/body-parts/main-header.html'" onload="main_header_init()">
            <!-- side bar main -->
        </div>
        <div class="menu_section" ng-if="main_menu_switch" ng-include="'/base/OmbazarBackEnd/templates/OmbazarBackEnd/body-parts/main-menu.html'" onload="main_menu_init()">
            <!-- main menu -->
        </div>

    </aside>
    <!-- main sidebar end -->

    <div id="page_content" class="left-margin-remove-small" ng-view role="main" ng-if="logged">
        <div id="page_content_inner" class="initial-loading">
            <h1>Please wait </h1>

            <div id="load-message">
                <div id="css-load"></div>
                <div id="js-load"></div>
            </div>

            <div class="uk-float-left">
                <span>processing</span>
            </div>

            <div class="uk-float-left">
                <img class="dotted-login" src="{% static 'OmbazarBackEnd/assets/img/spinners/dotted.gif' %}" alt="Loading image">
            </div>

        </div>
    </div>
    <div id="page_content" class="left-margin-remove-small" ng-if="!page_access && logged">
        <ng-include ng-if="denied_page_switch" src="'/base/OmbazarBackEnd/templates/OmbazarBackEnd/resource/505.html'"></ng-include>
    </div>

    <div ng-if="!logged" >
        <ng-include src="'/base/OmbazarBackEnd/templates/OmbazarBackEnd/resource/login-recommend.html'" onload="login_init()"></ng-include>
    </div>

    <!-- message box error -->
    <div class="md-card message-box uk-hidden-small" >
        <i class="material-icons message-box-close md-icon">close</i>
        <div class="md-card-content">

        </div>
    </div>
    <div class="main-header-informer">
        <div class="content">

        </div>
    </div>




    {% csrf_token %}




<!--    <script src='https://www.google.com/recaptcha/api.js'></script>-->

    <script src="{% static 'OmbazarBackEnd/assets/js/angular.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/angular-route.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/common.min.js' %}"></script>
    <!-- uikit functions -->
    <script src="{% static 'OmbazarBackEnd/assets/js/uikit_custom.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'OmbazarBackEnd/assets/js/functions.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/custom/uikit_fileinput.min.js' %}"></script>
    <!-- altair common functions/helpers -->
    <script src="{% static 'OmbazarBackEnd/assets/js/altair_admin_common.js' %}"></script>

    <!--tablesorter -->
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-alignChar.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-columnSelector.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/tablesorter/dist/js/widgets/widget-print.min.js' %}"></script>
    <!--  tablesorter functions -->
    <script src="{% static 'OmbazarBackEnd/assets/js/pages/plugins_tablesorter.js' %}"></script>

    <script src="{% static 'OmbazarBackEnd/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/bower_components/jquery.fancytree/dist/jquery.fancytree-all.min.js' %}"></script>
    <!--  tree functions -->

    <script src="{% static 'OmbazarBackEnd/assets/js/pages/plugins_tree.min.js' %}"></script>
    <!--  dropify -->
    <script src="{% static 'OmbazarBackEnd/assets/js/custom/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/plugins/Drag-And-Drop-File-Uploader-With-Preview-Imageuploadify/imageuploadify.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/plugins/clipboard.js-master/dist/clipboard.min.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/app.js' %}"></script>
    <script src="{% static 'OmbazarBackEnd/assets/js/custom.js' %}"></script>

</body>
</html>
