
<section class="stickyHeaderBag animated" data-ng-click="bag_switch()">
    <div class="itemCount">
        <p>
            <span class="bag"><i class="material-icons">shopping_basket</i></span>
            <span class="item-count">((total_item))</span> ITEMS</p>
    </div>
    <div class="total">
        <div class="odometer">((net_payable_amount))</div>
        <span>((currency)) </span>
    </div>
</section>
<div class="uk-width-medium-1-3 ">
    <div class="pos-selected-items-part cart cart-hidden" >
        <div class="md-card">
            <div class="cart-close-tools">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-5-10">
                        <h4 class="total-item-heading"><i class="material-icons">shopping_basket</i> <span class="item-count">((total_item))</span> Items</h4>
                    </div>
                    <div class="uk-width-3-10 pos-barcode">
                        <input type="text" placeholder="Enter barcode" class="" name="barcode" />
                    </div>

                    <div class="uk-width-2-10 uk-text-center">
                        <button  class="search-pos-item md-fab" data-ng-click="bag_switch()">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                </div>
                <hr class="uk-margin-bottom-remove uk-margin-top-remove"/>
            </div>
            <div class="  pos-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <table class="uk-table uk-margin-bottom-remove heading-table">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Price</th>
                                <th>Qnt</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>

                        <!-- hidden content for cart element manage -->

                        <div class="uk-overflow-container">
                            <div class="cart-message"></div>
                            <table class="uk-table cart-table">
                                <tbody>
                                <tr class="cart-item" ng-repeat="item in cart" data-id="((item.item_id))">
                                    <td class="">
                                        <img class="img_thumb" ng-src="((item.image))" alt="">
                                        <span  data-uk-tooltip="{pos:'top'}" title="((item.name))">
                                            ((item.name))
                                            <br/>
                                            <span ng-if="item.offer_price <= 0"> ( ((item.selling_price)) ((currency)) )</span>
                                            <span ng-if="item.offer_price > 0"> ( <del>((item.selling_price))</del> ((item.offer_price)) ((currency)) )</span>
                                        </span>
                                    </td>
                                    <td class="" >
                                        <span class="cart-line-total" ng-if="item.offer_price <= 0">((item.selling_price * item.quantity)) ((currency))</span>
                                        <span class="cart-line-total" ng-if="item.offer_price > 0">((item.offer_price * item.quantity)) ((currency))</span>
                                        </td>
                                    <td>
                                        <div class="quantity-manager">
                                            <input type="number" min="0" class="quantity hover" ng-value="((item.quantity))">
                                        </div>
                                    </td>
                                    <td class=" cart-line-total-field"><a href="#" class="cart-delete-button" ng-click="delete_cart_item($index, ((item.item_id)) )"><i class="material-icons " style="color:md-color-cyan-700">close</i></a>
                                    </td>
                                </tr>
                                <div class="cart-message uk-text-center" ng-if="!cart.length"><h1>Cart empty</h1></div>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="calculation uk-grid" data-uk-grid-margin>
                    <div class="uk-width-3-10 ">
                        <div class="uk-margin-small-left uk-position-relative">
                            <label>Discount</label>
                            <input type="text" class="md-input" name="discount" />
                            <div class="pos-discount-type uk-button-dropdown" data-uk-dropdown="{pos:'top-right',mode:'click'}">
                                <span><i class="material-icons md-icon" data-uk-tooltip="" title="Discount type">more_vert</i></span>
                                <div class="uk-dropdown">
                                    <span class="uk-margin-bottom">Discount type</span>
                                    <div class="md-btn-group uk-position-top-right discount-type" data-uk-button-radio="{target:'.md-btn'}">
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button uk-active" data-type="flat">Flat</button>
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button " data-type="percent">Percent</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="uk-width-7-10 uk-text-right left-padding-remove" style="padding-right:5px">
                        <div class="total uk-margin-small-right">
                            <span class="uk-display-block">Total = ((actual_total_price)) ((currency))</span>
                            <span class="uk-display-block" ng-if="software_info.invoice_bill_options.vat == 1">Vat = ((total_vat)) ((currency))</span>
                            <span class="uk-display-block">Discount = ((discount)) ((currency))</span>

                            <span class="uk-display-block">Net payable amount = ((net_payable_amount)) ((currency))</span>
                            <span class="uk-display-block">Offer discount = ((offer_discount)) ((currency))</span>

                        </div>
                    </div>
                </div>
                <hr class="hr">
                <div class="cart-footer cart-actions">
                    <div class="procceed-buttons uk-display-inline-block uk-padding-bottom" ng-if="cart.length">
                        <div class="uk-button-dropdown hold-dropdown" data-uk-dropdown="{pos:'bottom-left',mode:'click'}">
                            <button class="md-btn md-btn-flat md-btn-wave waves-effect waves-button uk-margin-small-top uk-margin-left">Hold</button>
                            <div class="uk-dropdown">
                                <form class="hold-form" data-ng-submit="add_to_hold()">
                                    <h4>Hold this cart</h4>
                                    <div class="uk-form-row">
                                        <label>Cart name</label>
                                        <input type="text" class="md-input" name="cart_name" required="">
                                    </div>
                                    <div class="uk-form-row">
                                        <button class="md-btn md-btn-primary">OK</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <button type="button" class="md-btn md-btn-success uk-margin-small-top pos-payment-button" data-ng-click="submit($event)">Payment</button>
                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
                            <i class="material-icons md-icon" data-uk-tooltip="" title="Payment method">more_vert</i>
                            <div class="uk-dropdown">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li class="paymnet-li">
                                        <h5>Payment method</h5>
                                        <form class="checkout-form" ng-init="payment_method_init()">
                                            <div class="uk-grid">
                                                <div class="uk-width-medium-1-1">
                                                    <select class="payment-method-selectize" name="bank_id">
                                                        <option value="">Select bank/cash</option>
                                                    </select>
                                                </div>
                                                <div class="uk-width-medium-1-1 uk-margin-top uk-hidden reconciliation-box">
                                                    <div class="bank-details uk-hidden">
<!--                                                        <p>-->
<!--                                                            <input type="checkbox" name="bank_reconciliation" id="bank_reconciliation" value="1" data-md-icheck />-->
<!--                                                            <label for="bank_reconciliation" class="inline-label">Bank reconciliation</label>-->
<!--                                                        </p>-->
                                                        <div class="uk-hidden uk-grid reconciliation" data-uk-grid-margin>
                                                            <div class="uk-width-medium-1-2">
                                                                <label>Check date</label>
                                                                <input class="md-input" name="check_date" type="text" value="" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                                            </div>
                                                            <div class="uk-width-medium-1-2">
                                                                <label>Check number</label>
                                                                <input class="md-input" name="transaction_number" type="text" value="" >
                                                            </div>
                                                            <div class="uk-width-medium-1-1">
                                                                <label>Payment note</label>
                                                                <input class="md-input" name="note" type="text" value="" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mobile-bank-details uk-hidden">
<!--                                                        <p>-->
<!--                                                            <input type="checkbox" name="mobile_bank_reconciliation" id="mobile_bank_reconciliation" value="1" data-md-icheck />-->
<!--                                                            <label for="mobile_bank_reconciliation" class="inline-label">Mobile bank reconciliation</label>-->
<!--                                                        </p>-->
                                                        <div class="uk-grid reconciliation uk-hidden" data-uk-grid-margin>
                                                            <div class="uk-width-medium-1-1">
                                                                <label>Transaction number</label>
                                                                <input class="md-input" name="transaction_number" type="text" value="" >
                                                            </div>
                                                            <div class="uk-width-medium-1-1">
                                                                <label>Payment note</label>
                                                                <input class="md-input" name="note" type="text" value="" >
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div ng-if="user_chooser" class="add-cart-user md-fab uk-display-inline-block uk-margin-left  uk-button-dropdown" data-uk-dropdown="{pos:'top-right',mode:'click'}">
                        <span data-uk-tooltip="" title="Customer selector"><i class="material-icons" >person_add</i></span>
                        <div class="uk-dropdown" ng-init="cart_user_search()">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1">
                                    <h5>User chooser</h5>
                                    <select class="cart-user-search" name="pos_user">
                                        <option value="">Search user</option>
                                    </select>
                                    <div class="user-info"></div>

                                    <div class="new-user-form uk-hidden">
                                        <div class="uk-grid " data-uk-grid-margin  >
                                            <div class="uk-width-medium-10-10">
                                                <div class="md-card user_content">
                                                    <h4 class="heading_c uk-margin-bottom ">New customer</h4>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-large-1-1 parsley-row">
                                                            <div class="uk-grid "  data-uk-grid-margin>
                                                                <div class="uk-width-medium-1-1 parsley-row">
                                                                    <label>Name</label>
                                                                    <input class="md-input" type="text" name="name">
                                                                </div>
                                                                <div class="uk-width-medium-1-1">
                                                                    <label for="mobile">Mobile</label>
                                                                    <input class="md-input" type="text" name="mobile" id="mobile" >
                                                                </div>

                                                                <div class="uk-width-medium-1-1">
                                                                    <label>Address</label>
                                                                    <textarea class="md-input" name="address_line_1"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid">
                                                        <div class="uk-width-large-1-2">
                                                            <button type="button" class="md-btn md-btn-success user-save">Save</button>
                                                            <button type="button" class="md-btn md-btn-info user-cancel">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
