<ul>
    <li ng-repeat="menu in menus" class="">
        <a href="((menu.link))">
            <span class="menu_icon" ng-bind-html="menu.icon"></span>
            <span class="menu_title">((menu.menu_name))</span>
        </a>
        <!-- directive: sub-menus -->
    </li>

</ul>
