<div class="sidebar_logo">
    <a href="home" class="sSidebar_hide sidebar_logo_large no_load allow-offline">
        <img class="logo_regular" src="/static/OmbazarBackEnd/assets/img/default/global-face.png" alt="" width="" height="">
        <img class="logo_light" src="/static/OmbazarBackEnd/assets/img/default/global-face.png" alt="" width="" height="">
    </a>
    <a href="home" class="sSidebar_show sidebar_logo_small no_load allow-offline">
        <img class="logo_regular" src="/static/OmbazarBackEnd/assets/img/default/global-face.png" alt="" width="" height="">
        <img class="logo_light" src="/static/OmbazarBackEnd/assets/img/default/global-face.png" alt="" width="" height="">
    </a>
</div>
<div class="sidebar_actions uk-hidden" title="store">
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 not-allow-offline">
            <select class="store-selectize">
                <option value="">Select a store</option>
            </select>
        </div>
    </div>

</div>