<!-- main sidebar switch -->
<a href="#" aria-label="Main menu switch" id="sidebar_main_toggle" class="sSwitch sSwitch_left allow-offline">
    <span class="sSwitchIcon"></span>
</a>
<!-- secondary sidebar switch -->
<a ng-if="document_switch && !shortcut_important_list_switch" href="#" aria-label="Secondary menu switch" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check uk-hidden-large allow-offline">
    <span class="sSwitchIcon"></span>
</a>
<!-- secondary sidebar switch for mobile pos -->
<a ng-if="shortcut_important_list_switch && !document_switch" href="#" aria-label="Secondary menu switch" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check allow-offline">
    <span class="sSwitchIcon"></span>
</a>

<div class="uk-navbar-flip">
    <ul class="uk-navbar-nav user_actions">
        <li class="not-allow-offline" ng-if="( (logged_user_type == 'system_designer' || logged_user_type == 'admin') && branch_undo_switch )">
            <a ng-if="basic_info.logged_branch_id" href="#" class="user_action_icon return-normal" data-uk-tooltip="" title="Branch deselect"><i class="material-icons md-24 md-light">undo</i></a>
        </li>
        <li><a href="#" ng-if="search_switch" id="main_search_btn" data-uk-tooltip="" title="Search product" class="user_action_icon allow-offline"><i class="material-icons md-24 md-light">&#xE8B6;</i></a></li>

        <li><a href="#" id="full_screen_toggle" data-uk-tooltip title="Full screen" class="allow-offline uk-visible-large"><i class="material-icons md-24 md-light">fullscreen</i></a></li>
        <li class="notification-signal" ng-if="notification_switch"><a  data-uk-tooltip="" title="Notifications" href="notifications" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE7F4;</i><span class="uk-badge" ng-if="notification_signal">((total_notification))</span></a></li>
        <!--<li><a href="#" data-uk-tooltip title="Reports"><i class="material-icons md-24 md-light">receipt</i></a></li>-->
        <!--<li><a href="#" data-uk-tooltip title="Settings"><i class="material-icons md-24 md-light">settings</i></a></li>-->
        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" ng-if="basic_info.logged_user_id">
            <a href="" class="user_action_image allow-offline"><img class="md-user-image" ng-src="((basic_info.logged_user.image))" alt="Account control"/></a>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav js-uk-prevent">
                    <li><a class="allow-offline" href="profile/((basic_info.logged_user.member_id))">My profile</a></li>
                    <li><a href="feature-settings">Settings</a></li>
                    <!--<li><a href="help">Help</a></li>-->
                    <li><a class="allow-offline" href="logout">Logout</a></li>
                </ul>
            </div>
        </li>
        <li ng-if="!basic_info.logged_user_id">
            <a class="allow-offline" href="login" aria-label="Profile">
                <i class="material-icons md-24 md-light">account_circle</i>
            </a>
        </li>
    </ul>
</div>