        <div>
            <section class="stickyHeaderBag animated" data-ng-click="bag_switch()">
                <div class="itemCount">
                    <p>
                        <span class="bag"><i class="material-icons">shopping_basket</i></span>
                        <span class="item-count">((total_item))</span> ITEMS</p>
                </div>
                <div class="total">
                    <div class="odometer">((grand_total))</div>
                    <span>((currency)) </span>
                </div>
            </section>
            <div class="uk-width-medium-1-3 ">
                <div class="pos-selected-items-part cart cart-hidden" >
                    <div class="md-card">
                        <div class="cart-close-tools">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-7-10 uk-width-small-7-10">
                                    <h4 class="total-item-heading"><i class="material-icons">shopping_basket</i> <span class="item-count">((total_item))</span> Items</h4>
                                </div>

                                <div class="uk-width-medium-2-10 uk-width-small-2-10 uk-text-center">
                                    <button  class="search-pos-item md-fab" data-ng-click="bag_switch()">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                            </div>
                            <hr class="uk-margin-bottom-remove uk-margin-top-remove"/>
                        </div>
                        <div class="  pos-content">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-1-1">
                                    <table class="uk-table uk-margin-bottom-remove">
                                        <thead>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Price</th>
                                            <th>Qnt</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                    </table>

                                    <!-- hidden content for cart element manage -->

                                    <div class="uk-overflow-container">
                                        <div class="cart-message"></div>
                                        <table class="uk-table cart-table">
                                            <tbody>
                                                <tr class="cart-item" ng-repeat="item in cart" data-id="((item.store_item_id))">
                                                    <td class="">
                                                        <img class="img_thumb" src="((item.images[0]))" alt="">
                                                        <span  data-uk-tooltip="{pos:'top'}" title="((item.item_name)) Point : ((item.point))">
                                                            ((item.item_name))
                                                            <span ng-if="item.sale"><del>((item.price)) ((currency))</del> ((item.sale))((currency))</span>
                                                            <span ng-if="!item.sale">((item.price))((currency))</span>
                                                        </span>
                                                    </td>
                                                    <td class="" >
                                                        <span ng-if="item.sale" class="cart-line-total">((item.sale * item.quantity)) ((currency))</span>
                                                        <span ng-if="!item.sale" class="cart-line-total">((item.price * item.quantity)) ((currency))</span>
                                                    </td>
                                                    <td>
                                                        <div class="quantity-manager">
                                                            <input type="number" min="0" class="quantity hover" value="((item.quantity))">
                                                        </div>
                                                    </td>
                                                    <td class=" cart-line-total-field"><a href="#" class="cart-delete-button" ng-click="delete_cart_item($index, ((item.store_item_id)) )"><i class="material-icons " style="color:md-color-cyan-700">close</i></a>
                                                    </td>
                                                </tr>
                                                <div class="cart-message uk-text-center" ng-if="!cart.length"><h1>Cart empty</h1></div>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="calculation uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-3-10">

                                    <input type="hidden" class="md-input cart-discount-field" ng-model="discount">
                                </div>

                                <div class="uk-width-medium-7-10 uk-text-right" style="padding-right:5px">
                                    <div class="point-total">
                                        Point= <span>((point))</span>
                                    </div>
                                    <div class="sub-total">
                                        Sub total= <span class="cart-sub-total">((sub_total))</span>
                                    </div>
                                    <div class="vat-total">
                                        Vat= <span>((vat))</span>
                                    </div>
                                    <div class="discount">
                                        Discount= <span class="cart-discount">((total_discount))</span>
                                    </div>

                                    <div class="total">
                                        Total= <span class="cart-total">((grand_total)) </span>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="procceed-buttons uk-text-center uk-padding-bottom" ng-if="cart.length">
                                <button href="#" class="md-btn md-btn-flat md-btn-wave waves-effect waves-button" data-ng-click="clear_cart()">Cancel</button>
                                <button class="md-btn md-btn-success uk-margin-small-top pos-payment-button" data-ng-click="order()">Payment</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>