
        <div id="page_content_inner" data-ng-controller="add_store">
            <form method="post" class="add-store" id="form" data-ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Add new store</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Store name</label>
                                            <input class="md-input" type="text" name="store_name" required>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Address line 1</label>
                                            <input class="md-input " type="text" name="address_line_1" required>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Address line 2</label>
                                            <input class="md-input " type="text" name="address_line_2"/>
                                        </div>
                                        <div class="uk-width-1-1  parsley-row">
                                            <label>Post code</label>
                                            <input type="text" class="md-input" name="post_code" value="" required>
                                        </div>
                                        <div class="uk-width-1-1  parsley-row">
                                            <select class="country-code-selector"  name="country">
                                                <option value="">Select country</option>
                                                <option ng-repeat="country in countries" value="((country.callingCodes[0]))">((country.alpha2Code)) ( ((country.callingCodes[0])) )</option>
                                            </select>
                                        </div>
                                        <div class="uk-width-1-1  parsley-row">
<!--                                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14610.945298850498!2d90.4078518!3d23.721108299999997!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1528955757167" width="100%" height="250px" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <input type="file" id="input-file-a" class="dropify " name="image"/>
                                    <p>
                                        <label>Active</label>
                                        <input type="checkbox" data-switchery checked value="1" name="active"/>
                                    </p>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                    <button class="md-btn md-btn-success uk-hidden-small" data-button-name="save_and_new">Save & New</button>
                                    <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

