
    <div id="page_content_inner" data-ng-controller="collections">
        <h4>((page_title))</h4>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" class=" " id="printTable" data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>
                    <div class="collections inline-block uk-float-right" style="min-width: 200px">
                        <select class="collection-names">
                            <option value="">Select collection</option>
                        </select>
                    </div>
                    <button data-ng-click="drop_collection()" ng-if="keys.length" data-uk-tooltip="{pos:'top'}" title="Drop this collection" class="md-btn md-icon-btn uk-float-right md-btn-mini uk-margin-right uk-margin-top"><i class="material-icons">delete</i></button>
                </div>
                <div class="uk-overflow-container uk-margin-bottom">
                    <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead>
                            <tr>
                                <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                                <th data-priority="(($index))" ng-repeat="key in keys">((key))</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Manage</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th ng-repeat="key in keys">((key))</th>
                                <th class="uk-text-center">Manage</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="item in rows">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td ng-if="data_load_switch" ng-repeat="key in keys">((item[key]))</td>
                                <td class="uk-text-center icon-relative">
                                    <div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top',mode:'click'}">
                                        <i class="md-icon material-icons">&#xE5D4;</i>
                                        <div class="uk-dropdown uk-dropdown-small">
                                            <ul class="uk-nav uk-text-left">
                                                <!---<li><a href="edit-item/((item.item_id))" class="uk-text-info"><i class="material-icons">create</i> Edit</a></li>-->
                                                <li><a data-uk-tooltip="{pos:'top'}" title="Delete this document" data-ng-click="document_delete( ((item._id)) )" class="uk-text-info"><i class="material-icons">delete</i> Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="switch" ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

