
    <div id="page_content_inner" ng-controller="corporate">
        <div class="uk-grid ">
            <div class="uk-width-medium-1-10"></div>
            <div class="uk-width-medium-8-10 corporate-slide">
                <div class="md-card">
                    <div class="md-card-content">
                        <h2>((corporate.company_name))</h2>
                        <div class="uk-slidenav-position uk-margin-large-bottom" data-uk-slider="{autoplay: true,autoplayInterval: '3000'}">
                            <div class="uk-slider-container">
                                <ul class="uk-slider  uk-grid-width-medium-1-3">
                                    <li style="padding:10px;" data-ng-repeat="image in corporate.images">
                                        <div class="md-card">
                                            <div style="height: 180px;">
                                                <img src="((image))" alt="" style="height:100%;width:100%;">
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
                            <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
                        </div>
                        <h3 class="not-found"></h3>
                        <hr class="hr"/>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-5-10">
                                <h4>Location</h4>
                                ((corporate.location))
                                <h4>Address</h4>
                                ((corporate.address))

                            </div>
                            <div class="uk-width-medium-5-10">
                                <h4>Tags</h4>
                                ((corporate.tags))
                            </div>

                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-5-10">
                                <h4>Phone</h4>
                                ((corporate.phone))
                                <h4>Email</h4>
                                ((corporate.email))
                            </div>
                            <div class="uk-width-medium-5-10">
                                <h3 class="">Notes</h3>
                                <div class="uk-grid " data-uk-grid="{gutter:12}">

                                    <div class="uk-width-medium-7-10" ng-repeat="note in corporate.notes">
                                        <div class="md-card ">
                                            <div class="md-card-toolbar">
                                                <div class="md-card-toolbar-actions">
                                                    <i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
                                                </div>
                                                <h3 class="md-card-toolbar-heading-text">
                                                    Note ((note.time))
                                                </h3>
                                            </div>
                                            <div class="md-card-content note-content">
                                                ((note.content))
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-10"></div>
        </div>
    </div>

