
    <div id="page_content_inner" ng-controller="coupons">
        <h4>((page_title))</h4>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" id="printTable"  data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>
                    <a class="" ng-click="export()" data-uk-tooltip="{cls:'uk-tooltip-small'}" title="Export to excel"><i class="material-icons md-icon md-color-blue-300">get_app</i></a>
                </div>
                <div class="uk-overflow-container uk-margin-bottom print-visible">
                    <table  class=" uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead class="hidden-print">
                        <tr>
                            <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                            <th data-priority="1">Coupon</th>
                            <th data-priority="1">Status</th>
                            <th data-priority="2">Type</th>
                            <th data-priority="2">Batch</th>
                            <th data-priority="4">Entry date</th>
                        </tr>
                        </thead>
                        <tfoot class="hidden-print">
                        <tr>
                            <th></th>
                            <th>Coupon</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Batch</th>
                            <th>Entry date</th>
                        </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="coupon in rows">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>

                                <td>
                                    ((coupon.coupon_number))
                                </td>
                                <td class="active-colum">
                                    <span class="uk-badge uk-badge-success" ng-if="coupon.status">Used</span>
                                    <span class="uk-badge uk-badge-danger" ng-if="!coupon.status">Free</span>
                                </td>
                                <td>
                                    ((coupon.type))
                                </td>
                                <td>
                                    ((coupon.batch))
                                </td>
                                <td>
                                    ((coupon.time))
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

