
    <div id="page_content_inner" data-ng-controller="cron_reports">
        <h4>((page_title))</h4>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" class=" " id="printTable" data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>


                </div>
                <div class="uk-overflow-container uk-margin-bottom">
                    <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead>
                            <tr>
                                <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                                <th data-priority="critical">Status</th>
                                <th data-priority="2">Details</th>
                                <th data-priority="4">Time</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Status</th>
                                <th>Details</th>
                                <th>Time</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="item in rows" ng-init="$last && finish_repeat()">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td class="active-colum">
                                    <span class="uk-badge uk-badge-success" ng-if="item.status==1">Done</span>
                                    <span class="uk-badge uk-badge-danger" ng-if="item.status==0">Failed</span>
                                </td>
                                <td>
                                    <span ng-repeat="error in item.more_info.error">
                                        ((error))
                                    </span>
                                    <span ng-repeat="message in item.more_info.message">
                                        ((message))
                                    </span>

                                </td>
                                <td>
                                    ((item.time))
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

