
        <div id="page_content_inner" ng-controller="distributed_point_manager">
            <form method="post" class="distributed-point-manager" id="form" ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Distributed point manager</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-1-3">
                                            <div class="uk-grid form_section" id="d_form_row" data-uk-grid-margin ng-repeat="slab in slabs">
                                                <div class="uk-width-medium-1-1">
                                                    <div class="uk-input-group">
                                                        <label>Slap amount </label>
                                                        <input type="text" class="md-input" name="slab_amount[]" value="((slab.amount))">
                                                        <span class="uk-input-group-addon">
                                                            <a ng-if="$last" href="#" class="spbtnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>
                                                            <a ng-if="!$last" href="#" class="btnSectionRemove"><i class="material-icons md-24">&#xE872;</i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="!slabs.length" class="uk-grid form_section" id="d_form_row" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-1">
                                                    <div class="uk-input-group">
                                                        <label>Slap amount</label>
                                                        <input type="text" class="md-input" name="slab_amount[]" value="">
                                                        <span class="uk-input-group-addon">
                                                            <a href="#" class="spbtnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                    <button class="md-btn md-btn-primary" data-button-name="save_and_new" >Save</button>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </form>
        </div>

