
        <div id="page_content_inner" ng-controller="edit_category">
            <form method="post" class="edit-category" id="form" ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Edit category</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Category name</label>
                                            <input class="md-input" type="text" name="category_name" required value="((category.category_name))">
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row uk-margin-top">
                                            <label>Description</label>
                                            <textarea class="md-input" name="description" >((category.description))</textarea>
                                        </div>
                                        <div class="uk-width-large-1-1">
                                            <div class="uk-grid form_section" id="d_form_row" data-uk-grid-margin ng-repeat="(key,val) in category.specifications">
                                                <div class="uk-width-medium-1-2">
                                                        <label>Specification name</label>
                                                        <input type="text" class="md-input" name="specification_name[]" value="((key))">

                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group">
                                                        <input class="tags" id="tags" type="text" value="((val))" name="specification_tags[]"  placeholder="Separated by coma ">
                                                        <span class="uk-input-group-addon">
                                                            <a ng-if="$last" href="#" class="spbtnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>
                                                            <a ng-if="!$last" href="#" class="btnSectionRemove"><i class="material-icons md-24">&#xE872;</i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="!sp_length" class="uk-grid form_section" id="d_form_row" data-uk-grid-margin ng-repeat="(key,val) in category.specifications">
                                                <div class="uk-width-medium-1-2">
                                                        <label>Specification name</label>
                                                        <input type="text" class="md-input" name="specification_name[]" value="">

                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group">
                                                        <input class="tags" id="tags" type="text" value="" name="specification_tags[]"  placeholder="Separated by coma ">
                                                        <span class="uk-input-group-addon">
                                                            <a href="#" class="spbtnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <div class="uk-grid" uk-grid-margin>
                                        <label>Category image</label>
                                        <div class="uk-width-large-1-1 ">
                                            <input type="file" id="input-file-a" class="dropify " data-default-file="((category.image))" name="image" >
                                        </div>
                                    </div>
                                    <div class="access_area uk-margin-bottom uk-margin-top">
                                        <div class="access_area uk-margin-bottom uk-margin-top">
                                            <label >Access</label>
                                            <div class="access_category fancytree_radio fancytree-radio">
                                                <ul id="tBData">
                                                    <li id="0" class="selected">Uncategorized</li>

                                                    <li id="((category.category_id))" ng-repeat="category in categories">
                                                        ((category.category_name))
                                                        <!-- directive: sub-categories -->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                    <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </form>
        </div>

