
        <div id="page_content_inner" data-ng-controller="edit_item">
            <form method="post" class="edit-item" id="form" data-ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Edit item</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <select class="categories category-selector" name="category_id" required>
                                                <option value="">Select category</option>
                                            </select>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Item name</label>
                                            <input class="md-input item-name-field" type="text" name="item_name" required value="((item.item_name))">
                                        </div>

                                        <div class="uk-width-large-1-1">
                                            <div class="bar-code-form uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-10-10 parsley-row">
                                                    <label>Barcode</label>
                                                    <input class="md-input bar-code-field" type="text" name="bar_code" autofocus value="((item.bar_code.code))">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-1 bar-code-img-preview">

                                        </div>

                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Purchase</label>
                                            <input class="md-input item-purchase-field" type="text" name="purchase" value="((item.purchase))" required>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Price</label>
                                            <input class="md-input item-price-field" type="text" name="price" value="((item.price))" required>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Sale</label>
                                            <input class="md-input item-sale-field" type="text" name="sale" value="((item.sale))" required>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Vat</label>
                                            <input class="md-input item-vat-field" type="text" name="vat" value="((item.vat))" required>
                                        </div>

                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Short description</label>
                                            <textarea cols="30" rows="2" class="md-input"  name="short_description">((item.short_description))</textarea>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Description</label>
                                            <textarea cols="30" rows="4" class="md-input" name="description">((item.description))</textarea>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <h4 class="heading_c uk-margin-bottom ">Specifications</h4>
                                            <div class="uk-grid form_section specification-row" ng-repeat="(key,value) in item.specifications" ng-model="sp" id="d_form_row" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2">
                                                    <select name="specification_name[]" class="specification_selectize">
                                                        <option value="((key))" selected>((key))</option>
                                                    </select>
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group">
                                                        <input class="tags"  value="((value))" name="tags[]">
                                                        <span class="uk-input-group-addon">
                                                            <a ng-if="$last" href="#" class="spbtnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>
                                                            <a ng-if="!$last" href="#" class="btnSectionRemove"><i class="material-icons md-24">&#xE872;</i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="!sp_length" class="uk-grid form_section specification-row" ng-model="sp" id="d_form_row" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2">
                                                    <select name="specification_name[]" class="specification_selectize">
                                                        <option value="" selected>Select specification</option>
                                                    </select>
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group">
                                                        <input class="tags"  value="" name="tags[]">
                                                        <span class="uk-input-group-addon">
                                                            <a href="#" class="spbtnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <div class="gallery_grid uk-grid-width-medium-1-4 uk-grid-width-large-1-4" data-uk-grid="{gutter: 16}">

                                        <div ng-repeat="image in item.images" ng-init="$last && finish_repeat()">
                                            <div class="md-card md-card-hover">
                                                <div class="gallery_grid_item edit-galary-grid-item md-card-content">
                                                    <a href="((image))" data-uk-lightbox="{group:'gallery'}">
                                                        <img src="((image))" alt="">
                                                    </a>
                                                    <i class="md-icon material-icons data-delete-button" ng-click="delete_image($index)" data-delete-table="images" data-id="">delete_forever</i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="" ng-init="1 && finish_repeat()"></div>
                                    </div>

                                    <h3 class="heading_a uk-margin-small-bottom">Images</h3>
                                    <div class="uk-grid"  data-uk-grid-margin>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <input type="file" accept="image/*" multiple class="image_uploader" name="images[]">
<!--                                            <input type="file" accept="image/*" multiple name="images[]">-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                    <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!--
        <div class="uk-modal" id="bar-code-generator"  ng-include="'/back-end-template/resource/parts/bar-code-generator.html'">

        </div> -->