
        <div id="page_content_inner" ng-controller="expire_date_manager">
            <form method="post" class="expire-date-manager" id="form" ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Expire date manager</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-2-3">
                                            <div class="uk-grid form_section" id="d_form_row" data-uk-grid-margin ng-repeat="rule in rules">
                                                <div class="uk-width-medium-1-2">
                                                    <label>Slab amount</label>
                                                    <input type="text" class="md-input" name="slab_amount[]" value="((rule.amount))">
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group">
                                                        <div class="uk-grid">
                                                            <div class="uk-width-medium-1-3">
                                                                <label>Day</label>
                                                                <input class="md-input" type="text" name="days[]" value="((rule.expire.day))">
                                                            </div>
                                                            <div class="uk-width-medium-1-3">
                                                                <label>Hour</label>
                                                                <input class="md-input" type="text" name="hours[]" value="((rule.expire.hour))">
                                                            </div>
                                                            <div class="uk-width-medium-1-3">
                                                                <label>Minute</label>
                                                                <input class="md-input" type="text" name="minutes[]" value="((rule.expire.minute))">
                                                            </div>

                                                        </div>

                                                        <span class="uk-input-group-addon">
                                                            <a ng-if="$last" href="#" class="spbtnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>
                                                            <a ng-if="!$last" href="#" class="btnSectionRemove"><i class="material-icons md-24">&#xE872;</i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="!rules.length" class="uk-grid form_section" id="d_form_row" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2">
                                                    <label>Slab amount</label>
                                                    <input type="text" class="md-input" name="slab_amount[]">
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group">
                                                        <div class="uk-grid">
                                                            <div class="uk-width-medium-1-3">
                                                                <label>Day</label>
                                                                <input class="md-input" type="text" name="days[]">
                                                            </div>
                                                            <div class="uk-width-medium-1-3">
                                                                <label>Hour</label>
                                                                <input class="md-input" type="text" name="hours[]">
                                                            </div>
                                                            <div class="uk-width-medium-1-3">
                                                                <label>Minute</label>
                                                                <input class="md-input" type="text" name="minutes[]">
                                                            </div>
                                                        </div>

                                                        <span class="uk-input-group-addon">
                                                            <a href="#" class="spbtnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                    <button class="md-btn md-btn-primary" data-button-name="save_and_new" >Save</button>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </form>
        </div>

