<div id="page_content_inner" ng-controller="feature_settings">
    <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid-margin>
        <!--- logo settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay" style="height: 300px">
                <div class="md-card-content truncate-text">
                    Software logo
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Software logo
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="software-logo" data-type="logo">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <input type="file" class="dropify-logo" name="image" accept="image/*" data-default-file="((logo))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--- Login banner -->
        <div>
            <div class="md-card md-card-hover md-card-overlay" style="height: 300px">
                <div class="md-card-content truncate-text">
                    Login banner
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Login banner
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="software-logo" data-type="login_banner">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <input type="file" class="dropify-logo" name="image" accept="image/*" data-default-file="((login_banner))">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- Login backend banner -->
        <div>
            <div class="md-card md-card-hover md-card-overlay" style="height: 300px">
                <div class="md-card-content truncate-text">
                    Backend Login banner
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Login banner
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="software-logo" data-type="login_banner_back_end">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <input type="file" class="dropify-logo" name="image" accept="image/*" data-default-file="((login_banner_back_end))">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>


        <!--- Video  -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Login banner video
                    
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Login banner video
                        </h3>

                    </div>
                    <div class="truncate-text">
                    <form class="software-logo" data-type="login_banner_video">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <input class="md-input" type="text" name="video" value="((login_banner_video))">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>


        <!--- tree position set charge -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    This setting for positioning charge
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Position cost
                        </h3>
                    </div>
                    <p class="truncate-text">
                        <form class="position-cost" data-type="position_cost">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Amount</label>
                                    <input class="md-input" type="text" name="amount" required value="((position_cost))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        <!--- tree user renew day -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    This setting for tree user position expire
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            User activity expire
                        </h3>
                    </div>
                    <p class="truncate-text">
                        <form class="position-cost" data-type="position_expire_time">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-3">
                                    <label>Day</label>
                                    <input class="md-input" type="text" name="day" value="((position_expire_time.day))">
                                </div>
                                <div class="uk-width-medium-1-3">
                                    <label>Hour</label>
                                    <input class="md-input" type="text" name="hour" value="((position_expire_time.hour))">
                                </div>
                                <div class="uk-width-medium-1-3">
                                    <label>Minute</label>
                                    <input class="md-input" type="text" name="minute" value="((position_expire_time.minute))">
                                </div>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        <!--- tree position set charge -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    This setting for charge a coupon
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Cost per coupon
                        </h3>
                    </div>
                    <p class="truncate-text">
                        <form class="cost-per-coupon" data-type="cost_per_coupon">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Amount</label>
                                    <input class="md-input" type="text" name="amount" required value="((cost_per_coupon))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        <!--- Email for mail deliver -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    This setting for emails for deliver mail
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            System forgot email
                        </h3>
                    </div>
                    <p class="truncate-text">
                        <form class="system-emails" data-type="forgot_email">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Forgot email</label>
                                    <input class="md-input" type="text" name="forgot_email" required value="((forgot_email))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

