<div id="page_content_inner" data-ng-controller="import">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <div class="md-card">
                <div class="md-card-content uk-margin-bottom">
                    <h3 class="heading_a uk-margin-bottom">Imported user data</h3>

                    <div class="" ng-if="!total_user">
                        <p>No user available. Import your user data</p>
                    </div>
                    <div class="" ng-if="total_user">
                        <h2>Total user: ((total_user))</h2>
                        <button class="md-btn md-btn-icon" data-ng-click="clear_users($event)"><i class="material-icons">delete_sweep</i> Clear all user data</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-2">
            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">
                        Upload users
                        <span class="sub-heading">Allow only excel file</span>
                    </h3>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div id="file_upload-drop" class="uk-file-upload">
                                <p class="uk-text">Drop file to upload</p>
                                <p class="uk-text-muted uk-text-small uk-margin-small-bottom">or</p>
                                <div class="uk-form-file md-btn">choose file<input id="file_upload-select" type="file"></div>
                            </div>
                            <div id="file_upload-progressbar" class="uk-progress uk-hidden">
                                <div class="uk-progress-bar" style="width:0">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>