<div id="page_content_inner" data-ng-controller="install">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <div class="md-card">
                <div class="md-card-content uk-margin-bottom">
                    <h3 class="heading_a uk-margin-bottom">Collections</h3>

                    <div class="uk-accordion" data-uk-accordion="{ collapse: false }" ng-if="collections.length">
                        <h3 class="uk-accordion-title" data-ng-repeat-start="x in collections">((x.collection_name))</h3>
                        <div class="uk-accordion-content" data-ng-repeat-end="">
                            <table>
                                <tr>
                                    <th class="uk-text-left">Collection keys</th>
                                    <td>:</td>
                                    <td>((x.collection_keys))</td>
                                </tr>
                                <tr>
                                    <th class="uk-text-left">Total document</th>
                                    <td>:</td>
                                    <td>((x.total_document))</td>
                                </tr>
                                <tr>
                                    <th class="uk-text-left">Import time</th>
                                    <td>:</td>
                                    <td>((x.time))</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="" ng-if="!collections.length">
                        <p>Any collection not exist. First upload a collection</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-1-2">
            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">
                        Upload Collection
                        <span class="sub-heading">Allow only json file with collection name format</span>
                    </h3>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div id="file_upload-drop" class="uk-file-upload">
                                <p class="uk-text">Drop file to upload</p>
                                <p class="uk-text-muted uk-text-small uk-margin-small-bottom">or</p>
                                <div class="uk-form-file md-btn">choose file<input id="file_upload-select" type="file"></div>
                            </div>
                            <div id="file_upload-progressbar" class="uk-progress uk-hidden">
                                <div class="uk-progress-bar" style="width:0">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>