
        <div id="page_content_inner" data-ng-controller="item">
            <form method="post" class="add-store" id="form" >
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Item information</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <ul class="md-list">
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Name</span>
                                                        <span class="uk-text-small uk-text-muted">((item.item_name))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Category</span>
                                                        <span class="uk-text-small uk-text-muted">((item.parent_name))</span>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Purchase</span>
                                                        <span class="uk-text-small uk-text-muted">((item.purchase)) ((currency)) </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Price</span>
                                                        <span class="uk-text-small uk-text-muted">((item.price)) ((currency))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Sale</span>
                                                        <span class="uk-text-small uk-text-muted">((item.sale)) ((currency))</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-accordion" data-uk-accordion="{ collapse: false }">
                                                <h3 class="uk-accordion-title">Specifications</h3>
                                                <div class="uk-accordion-content">
                                                    <table>
                                                        <tr data-ng-repeat="(key,val) in item.specifications">
                                                            <th class="uk-text-left">((key))</th>
                                                            <td>:</td>
                                                            <td>((val))</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--<div class="" ng-if="!collections.length">
                                                <p>Any collection not exist. First upload a collection</p>
                                            </div>-->
                                        </div>


                                        <div class="uk-width-medium-1-3">
                                            <ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#tabs_6'}">
                                                <li class="uk-active"><a href="#">Short description</a></li>
                                                <li><a href="#">Description</a></li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-medium-2-3">
                                            <ul id="tabs_6" class="uk-switcher uk-margin-small-top">
                                                <li> ((item.short_description))</li>
                                                <li> ((item.description))</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <h3 class="heading_a uk-margin-bottom">Images</h3>
                                    <div class="uk-slidenav-position uk-margin-large-bottom" data-uk-slider="{autoplay: true,autoplayInterval: '3000'}">

                                        <div class="uk-slider-container">
                                            <ul class="uk-slider uk-grid-width-medium-1-3">
                                                <li style="padding:10px;" data-ng-repeat="image in item.images">
                                                    <div class="md-card">
                                                        <div style="height: 180px;">
                                                            <img src="((image))" alt="" style="height:100%;width:100%;">
                                                        </div>
                                                        <!--<div class="md-card-content">
                                                            <strong>Lorem ipsum</strong><br>
                                                            <span class="uk-text-muted">dolor sit</span>
                                                        </div>-->
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>

                                        <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
                                        <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
                                    </div>
                                    <div class="uk-width-medium-1-1" ng-if="item.bar_code.code">
                                        <p>Barcode</p>
                                        <img src="((item.bar_code.image))" alt="barcode ((item.bar_code.code))">
                                    </div>
                                    <p>
                                        <label for="">Active</label>
                                        <input type="checkbox" data-switchery checked value="1" name="active" disabled>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

