    <div id="page_content_inner" ng-controller="item_bank">
        <div class="md-card">
            <div class="md-card-content">
                <form class="item-river-filter" ng-submit="search()">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-3-10">
                            <label>Product name</label>
                            <input type="text" class="md-input" value="" name="product_search_name" ng-model="search_name">
                        </div>
                        <div class="uk-width-medium-1-10">
                            <label>Min price</label>
                            <input type="text" class="md-input" value="" name="product_search_min_price" ng-model="search_min_price">
                        </div>
                        <div class="uk-width-medium-1-10">
                            <label>Max price</label>
                            <input type="text" class="md-input" value="" name="product_search_max_price" ng-model="search_max_price">
                        </div>

                        <div class="uk-width-medium-3-10">
                            <select class="categories category-selector" name="search_category">
                                <option value="">Select category</option>
                            </select>
                        </div>
                        <div class="uk-width-medium-2-10 uk-text-center">
                            <button  class="uk-margin-small-top md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Filter</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-align-vertical item-river-table admin-uk-table" table-data-type="item-river" limit="3">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Purchase</th>
                                    <th>Price</th>
                                    <th>Sale</th>
                                    <th>Quantity</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in rows" class="bank-item">
                                        <td><img class="img_thumb" src="((item.images[0]))" alt=""/></td>
                                        <td class="uk-text-large uk-text-nowrap">
                                            ((item.item_name))
                                        </td>

                                        <td class="uk-text-nowrap "><label>Purchase</label><input class="md-input uk-form-width-small uk-text-center purchase" type="text" value="((item.purchase))"> </td>
                                        <td class="uk-text-nowrap "><label>Price</label><input class="md-input uk-form-width-small uk-text-center price" type="text" value="((item.price))" ></td>
                                        <td class="uk-text-nowrap "><label>Sale</label><input class="md-input uk-form-width-small uk-text-center sale" type="text" value="((item.sale))" ></td>
                                        <td class="uk-text-nowrap "><label>Quantity</label><input class="md-input uk-form-width-small uk-text-center quantity" type="text" value="((item.before_quantity))"></td>
                                        <td>
                                            <input type="hidden" class="item_id" value="((item.item_id))">
                                            <input type="hidden" class="store_item_id" value="((item.store_item_id))">
                                            <button ng-if="item.store_id" class="md-btn md-btn-wave waves-effect waves-button update-stock-button" data-ng-click="update_stock($event)">Add more</button>
                                            <button ng-if="!item.store_id" class="md-btn md-btn-wave waves-effect waves-button add-to-store-button" data-ng-click="add_to_store($event)">Save</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="uk-margin-top" ng-include="((table_pagination_path))"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
