
    <div id="page_content_inner" ng-controller="lucky_coupons">
        <h4>((page_title))</h4>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" id="printTable"  data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>
                </div>
                <div class="uk-overflow-container uk-margin-bottom print-visible">
                    <table  class=" uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead class="hidden-print">
                        <tr>
                            <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                            <th data-priority="2">Coupon number</th>
                            <th data-priority="1">Mobile</th>
                            <th data-priority="2">Active</th>
                            <th data-priority="2">Prize name</th>
                            <th data-priority="4">Entry date</th>
                            <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Manage</th>
                        </tr>
                        </thead>
                        <tfoot class="hidden-print">
                        <tr>
                            <th></th>
                            <th>Coupon number</th>
                            <th>Mobile</th>
                            <th>Active</th>
                            <th>Prize name</th>
                            <th>Entry date</th>
                            <th class="uk-text-center">Manage</th>
                        </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="lucky_coupon in rows">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td>
                                    ((lucky_coupon.coupon_number))
                                </td>

                                <td>
                                    ((lucky_coupon.mobile_number))
                                </td>

                                <td class="active-colum">
                                    <span class="uk-badge uk-badge-success" ng-if="lucky_coupon.active">Active</span>
                                    <span class="uk-badge uk-badge-danger" ng-if="!lucky_coupon.active">Deactive</span>
                                </td>
                                <td>
                                    ((lucky_coupon.prize_name))
                                </td>

                                <td>
                                    ((lucky_coupon.time))
                                </td>
                                <td class="uk-text-center icon-relative">
                                    <div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top',mode:'click'}" ng-if="!lucky_coupon.active">
                                        <i class="md-icon material-icons">&#xE5D4;</i>
                                        <div class="uk-dropdown uk-dropdown-small">
                                            <ul class="uk-nav uk-text-left">
                                                <li ng-click="status_change( ((lucky_coupon.lucky_id)) )"><a href="" class="uk-text-info"><i class="material-icons">create</i> Activate</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

