
        <div id="page_content_inner" ng-controller="order">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-3-10 hidden-print"></div>
                <div class="uk-width-medium-4-10 pos-print">
                    <div class="md-card ">
                        <div class="md-card-content">

                            <p class="uk-text-center">
                                <img src="((basic_info.activate_store.image))">

                                <span class="uk-block">((basic_info.activate_store.address_line_1))</span>
                                <span class="uk-block">((basic_info.activate_store.address_line_2))</span>

                            </p>
                            <p class="uk-text-center pos-border-heading">
                                <span><?php echo $store['store_name'];?></span>
                            </p>
                            <table>
                                <tr>
                                    <th>Bill no</th>
                                    <th>:</th>
                                    <th>((order.order_code))</th>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>:</td>
                                    <td>
                                        ((order.time))
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>Customer id</td>
                                    <td>:</td>
                                    <td>((order.customer_info.user_id))</td>
                                </tr>
                                <tr>
                                    <td>Customer name</td>
                                    <td>:</td>
                                    <td>((order.customer_info.name))</td>
                                </tr>

                            </table>
                            <table  width="100%">
                                <tr class="uk-text-left">
                                    <th>Sl</th>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                <tr ng-repeat="item in order.order_items">
                                    <td>
                                        (($index+1)).
                                    </td>
                                    <td>
                                        <span  data-uk-tooltip="{pos:'top'}" title="((item.item_name)) Point : ((item | point))">
                                            ((item.item_name))
                                            <span ng-if="item.sale"><del>((item.price)) ((currency))</del> ((item.sale))((currency))</span>
                                            <span ng-if="!item.sale">((item.price))((currency))</span>
                                        </span>

                                    </td>
                                    <td ng-if="!item.sale">((item.price)) ((currency))</td>
                                    <td ng-if="item.sale">((item.sale)) ((currency))</td>
                                    <td>
                                        ((item.quantity))
                                    </td>
                                    <td>((item | object_line_total)) ((currency))</td>

                                </tr>
                            </table>
                            <p class="uk-text-center pos-border-heading">
                                <span>Summary</span>
                            </p>
                            <table width="100%">
                                <tr>
                                    <th>Sub  total</th>
                                    <th>:</th>
                                    <th class="uk-text-left">((order.total_info.sub_total)) ((currency))</th>
                                </tr>
                                <tr>
                                    <th>Vat</th>
                                    <th>:</th>
                                    <th class="uk-text-left">((order.total_info.vat)) ((currency))</th>
                                </tr>
                                <tr>
                                    <th>Discount</th>
                                    <th>:</th>
                                    <th class="uk-text-left">((order.total_info.total_discount)) ((currency))</th>
                                </tr>
                                <tr>
                                    <th>Payable amount</th>
                                    <th>:</th>
                                    <th class="uk-text-left">((order.total_info.grand_total)) ((currency))</th>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-3-10 hidden-print"></div>
            </div>


        </div>
