    <div id="page_content_inner" data-ng-controller="request">
        <h4>((page_title))</h4>
        <div class="uk-grid">
            <div class="uk-width-medium-1-3">
                <div class="md-card">
                    <div class="md-card-head">
                        <div class="uk-text-center">
                            <img class="md-card-head-avatar" src="((info.user.image))" alt=""/>
                        </div>
                        <h3 class="md-card-head-text uk-text-center">
                            ((info.user.name)) <span class="uk-text-truncate">((info.user.user_name))</span>
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <ul class="md-list">
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Email</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">((info.user.email))</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Phone</span>
                                    <span class="uk-text-small uk-text-muted"> +((info.user.calling_code + info.user.mobile))</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Address</span>
                                    <span class="uk-text-small uk-text-muted">((info.user.address_line_1))</span>
                                    <span class="uk-text-small uk-text-muted">((info.user.address_line_2))</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Country</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">((info.user.nationality.country_name))</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <span>Transaction amount</span>
                        <h1 class="uk-text-center ">((info.amount)) <span>((currency))</span></h1>
                        <hr class="ganttview-grid-spacer">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-3-10 uk-margin-top">
                                <span class="">status:</span>
                            </div>
                            <div class="uk-width-medium-5-10">
                                <select class="transaction-action" value="((info.status))" data-id="((info.transaction_id))">
                                    <option value="0">Pending</option>
                                    <option value="1">Done</option>
                                    <option value="2">Cancel</option>
                                </select>
                            </div>
                            <div class="uk-width-medium-2-10 uk-margin-top">
                                <i class="md-icon material-icons" data-ng-click="note_open()" data-uk-tooltip="{pos:'top'}" title="Change with note">&#xE5D4;</i>
                            </div>
                            <form class="transaction-status uk-grid uk-margin-bottom" data-uk-grid-margin id="form" ng-if="note_switch">
                                <div class="uk-width-medium-1-1">
                                    <label>Transaction number</label>
                                    <input type="text" class="md-input" name="transaction_number" value="" >
                                </div>
                                <div class="uk-width-medium-1-1">
                                    <label>Note</label>
                                    <input type="text" class="md-input" name="note" value="" >
                                </div>
                            </form>


                        </div>
                        <ul class="md-list">
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Transaction id</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">OM((info.transaction_id))</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Time</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">((info.time))</span>
                                </div>
                            </li>
                            <li ng-if="info.description && info.description!==''">
                                <div class="md-list-content">
                                    <span class="md-list-heading">Description</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">((info.description))</span>
                                </div>
                            </li>
                            <li ng-if="info.more_info.transaction_number && info.more_info.transaction_number!==''">
                                <div class="md-list-content">
                                    <span class="md-list-heading">Transaction number</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">((info.more_info.transaction_number))</span>
                                </div>
                            </li>
                            <li ng-if="info.more_info.note && info.more_info.note!==''">
                                <div class="md-list-content">
                                    <span class="md-list-heading">Transaction note</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">((info.more_info.note))</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>