
    <div id="page_content_inner" ng-controller="round_generator">
        <div class="md-card">
            <form class="round-generator" id="form" ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Round generator </h4>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2 uk-margin-bottom parsley-row">
                                    <label>Round name</label>
                                    <input class="md-input" type="text" name="round_name" required>
                                </div>
                                <div class="uk-width-large-1-2 uk-margin-bottom parsley-row">
                                    <label>Group amount</label>
                                    <input class="md-input" type="text" name="amount" required>
                                </div>

                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button class="md-btn md-btn-primary" button-name="save_and_new">generate</button>
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-bottom">
                    <a href="#" class=" " id="printTable" data-uk-tooltip="{pos:'top'}" title="Print">
                        <i class="material-icons md-icon">print</i>
                    </a>
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:-8px">
                        <a class="" href="#" data-uk-tooltip="{pos:'top'}" title="Colum select"><i class="material-icons md-icon ">reorder</i></a>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                        </div>
                    </div>

                </div>
                <div class="uk-overflow-container uk-margin-bottom">
                    <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead>
                        <tr>
                            <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                            <th data-priority="critical">Name</th>
                            <th data-priority="critical">Amount</th>
                            <th data-priority="critical">Active</th>
                            <th data-priority="4">Entry date</th>
                            <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Manage</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Active</th>
                            <th>Entry date</th>
                            <th class="uk-text-center">Manage</th>
                        </tr>
                        </tfoot>
                        <tbody>
                            <tr data-ng-repeat="round in rows">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td>
                                    ((round.round_name))
                                </td>
                                <td>
                                    ((round.amount))
                                </td>
                                <td class="active-colum">
                                    <span class="uk-badge uk-badge-success" ng-if="round.active">Active</span>
                                    <span class="uk-badge uk-badge-danger" ng-if="!round.active">Deactive</span>
                                </td>
                                <td>
                                    ((round.time))
                                </td>
                                <td class="uk-text-center icon-relative">
                                    <div class="round-manage-area">
                                        <input ng-click="round_switch()" type="checkbox" data-switchery data-switchery-color="#1e88e5" id="switch_demo_large" checked value="((round.round_id))" ng-if="round.active">
                                        <input type="checkbox" data-switchery data-switchery-color="#1e88e5" id="switch_demo_large" value="((round.round_id))" ng-if="!round.active">
                                        <label for="switch_demo_large" class="inline-label">Activity</label>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-include="((table_pagination_path))"></div>
            </div>
        </div>
    </div>

