
        <div id="page_content_inner" data-ng-controller="store">
            <form method="post" class="add-store" id="form" data-ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Store information</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <ul class="md-list">
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Name</span>
                                                        <span class="uk-text-small uk-text-muted">((store.store_name))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Address</span>
                                                        <span class="uk-text-small uk-text-muted">((store.address_line_1))<br>((store.address_line_2))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Post code</span>
                                                        <span class="uk-text-small uk-text-muted">((store.post_code))</span>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <div class="uk-width-medium-1-2">
                                        <img src="((store.image))"
                                    </div>
                                    <p>
                                        <label for="">Active</label>
                                        <input type="checkbox" data-switchery checked value="1" name="active" disabled>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

