<ul class="uk-pagination ts_pager" ng-controller="data_table_handler">
    <li data-uk-tooltip title="Select Page" >
        <select class="ts_gotoPage ts_selectize" ng-model="page" ng-change="change()">
            <option value="1">1</option>
            <option value="((n))" ng-repeat="n in [] | range:100">((n))</option>
        </select>
    </li>
    <li class="first" data-ng-click="first()"><a><i class="uk-icon-angle-double-left"></i></a></li>
    <li class="prev" ng-if="prev_switch" data-ng-click="prev()"><a><i class="uk-icon-angle-left"></i></a></li>
    <li><span class="pagedisplay">((start_row+1))/((filtered)) ( ((total)) )</span></li>
    <li class="next" ng-if="next_switch"><a data-ng-click="next()"><i class="uk-icon-angle-right"></i></a></li>
    <li class="last" data-ng-click="last()"><a><i class="uk-icon-angle-double-right"></i></a></li>
    <li data-uk-tooltip title="Page Size">
        <select class="pagesize ts_selectize" ng-model="limit" ng-change="change()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
            <option value="2000">2000</option>
        </select>

    </li>
    <li>
        <button ng-if="switch" data-ng-click="reload()"  class=" md-btn md-btn-primary md-btn-mini"> <i class="material-icons">replay</i>Reload </button>
    </li>
</ul>
<h2 ng-if="!rows.length" class="uk-margin-top uk-text-center heading_a">Data not found</h2>