@media print{
    .bar-code-image-layout {
        max-width: 100%;
        background: white;
        text-align: center;
        margin-top: 0px;
    }
    .bar-code-image-layout p {
        margin: 0px;
    }

}

*{
    visibility: hidden;
}
.print-visible,.print-visible *{
    visibility: visible;
}
.hidden-print{
    display: none !important;
}
.print-visible {
    position: absolute !important;
    left: 0 !important;
    top: 0!important;
}
body{
    margin:0px;
    padding:0px;
}
/*@import "../../bower_components/uikit/css/uikit.almost-flat.min.css" print;*/
/*@import "main.min.css" print;*/
/*@import "custom.css" print;*/