<div class="sidebar_logo">

	<a href="/" class="sSidebar_hide sidebar_logo_large">
		<img class="logo_regular" src="((site_logo))" alt="" height="" width=""/>
		<img class="logo_light" src="((site_logo))" alt="" height="" width=""/>
	</a>
</div>
