<nav class="uk-navbar">

	<!-- main sidebar switch -->
	<a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
		<span class="sSwitchIcon"></span>
	</a>

	<!-- secondary sidebar switch -->
	<a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
		<span class="sSwitchIcon"></span>
	</a>

	<div class="uk-navbar-flip">
		<ul class="uk-navbar-nav user_actions">
			<li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
			<li><a href="#" id="main_search_btn" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE8B6;</i></a></li>
			<li data-uk-tooltip="{pos:'top'}" ng-if="basic_info.logged_user_id" title="Orders"> <a href="orders"><i class="material-icons md-24 md-light">child_friendly</i></a></li>
			<li class="uk-visible-large" data-uk-tooltip="{pos:'top'}" ng-if="basic_info.logged_user_id" title="Network tree"> <a href="tree"><i class="material-icons md-24 md-light">device_hub</i></a></li>

			<li class="uk-visible-large" data-uk-tooltip="{pos:'top'}" title="Corporates"> <a href="corporates"><i class="material-icons md-24 md-light">business</i></a></li>


			<li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" ng-if="basic_info.logged_user_id">

				<a href="#" class="user_action_image"><img class="md-user-image" src="((basic_info.logged_user.image))" alt=""/></a>

				<div class="uk-dropdown uk-dropdown-small">
					<ul class="uk-nav js-uk-prevent">
						<li><a href="profile">Profile</a></li>
						<li><a href="logout">Logout</a></li>
					</ul>
				</div>
			</li>

			<li ng-if="!basic_info.logged_user_id">
				<a href="login">
					<i class="material-icons md-24 md-light">account_circle</i>
				</a>
			</li>
		</ul>
	</div>
</nav>
