<i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
<form class="uk-form uk-autocomplete" data-ng-submit="product_search()">
	<input type="text" class="header_main_search_input" ng-model="search_name" placeholder="" data-ng-keyup="product_search()">
	<button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
</form>
