<div class="menu_section" data-ng-controller="categories">
	<h3 class="uk-text-large padding-left-20 md-card-primary">Products category</h3>
    <hr>
	<ul>
		<li id="((category.category_id))" ng-repeat="category in categories">
			<a href="products/((category.category_name))">
				<span class="menu_title">((category.category_name))</span>
			</a>
			<!-- directive: sub-categories -->
		</li>
	</ul>
	<h3 ng-if="basic_info.logged_user_id" class="uk-text-large padding-left-20 md-card-primary">My profile</h3>
    <hr>
	<ul ng-if="basic_info.logged_user_id">
		<li>
			<a href="tree">
				<span class="menu_title">Network tree</span>
			</a>
		</li>

		<li>
			<a href="corporates">
				<span class="menu_title">Corporates</span>
			</a>
		</li>

		<li>
			<a href="requests/top-up">
				<span class="menu_title">Top ups</span>
			</a>
		</li>
		<li>
			<a href="requests/exchange-point">
				<span class="menu_title">Exchange points</span>
			</a>
		</li>
		<li>
			<a href="requests/user-withdraw">
				<span class="menu_title">Withdraw</span>
			</a>
		</li>

	</ul>
</div>
